// Primary Colors
$primary-cyan: hsl(179, 62%, 43%);
$primary-yellow-300: hsl(71, 73%, 54%);

// Neutral Colors
$neutral-gray-300: hsl(204, 43%, 93%);
$neutral-gray-blue: hsl(218, 22%, 67%);

// Root (HTML Tag) Font Size
$root-font-size: 1rem;